.container {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  background: #dddddd;
}

.box-1 {
  width: 200px;
  height: 80px;
  background: #aaaaaa;
  padding: 10px 20px;
  border-bottom: 10px solid #000000;
  margin-left: 20px;
}
.box-2 {
  width: 200px;
  height: 80px;
  background: #aaaaaa;
  padding: 10px 20px;
  border-bottom: 10px solid #000000;
  margin-left: 20px;
  margin-top: 20px;
}
