/*
 Breakpoints
 

*/

/* Reset */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #252525;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Menu */

.menu {
  background: #252525;
  padding: 20px 0 20px 0;
}

.menu-container {
  margin: 0 auto;
  max-width: 960px;
}

/* Rever essa aula */
/*
Necessário para o container
não desencontrar o height
dos elementos
*/
.menu-container::after,
.menu-container::before {
  content: "";
  /* melhor display
    para esse caso.
  */
  display: table;
  /* especifica se pode ter um
      elemento flutuando ao lado
  */
  clear: both;
}

a.menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}

.menu-nav {
  float: right;
  margin-right: 10px;
}

.menu-nav li {
  display: inline-block;
}

.menu-nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  /*
  Calculo para pixelToEm
  Valor em pixel escolhido / valor base da font = font em "em"
   */
  font-size: 1.125em;
}
/* Rever essa aula FIm*/

@media (max-width: 739px) {
  .menu-container {
    text-align: center;
  }

  a.menu-logo {
    float: none;
    margin: 0 auto;
  }

  .menu-nav {
    float: none;
    clear: both;
  }
}

/* INTRO */

.introducao {
  max-width: 100%;
  background: url(../img/bg-intro.jpg) no-repeat center bottom;
  background-size: cover;
  text-align: center;
  padding: 150px 0px;
  color: #ffffff;
}

.introducao h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 0.1em;
}

.introducao h1::after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background: #ffffff;
  margin: 10px auto;
}

.introducao p {
  font-size: 1.125em;
  font-style: italic;
}

@media (max-width: 739px) {
  .introducao {
    padding: 60px 0;
  }
}

/* Sobre */

.sobre {
  padding: 60px 0;
}

.sobre h2 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 2.25em;
  font-weight: bold;
}

.sobre-container {
  margin: 0 auto;
  /* Tamanho total do container */
  max-width: 960px;
  /*Não é necessário por o position: relative;
    porque não está sendo usado nenhum
    position: absolute;
  */
}

.sobre-container::after,
.sobre-container::before {
  content: "";
  display: table;
  clear: both;
}

.sobre-item {
  width: 460px;
  margin: 0 10px 0 10px;
  float: left;
}

.sobre-item img {
  display: block;
  max-width: 100%;
}

.sobre-item h3 {
  background: #252525;
  color: #ffffff;
  width: 220px;
  padding: 5px 0 10px 0;
  font-size: 2.25em;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  line-height: 1em;
  position: relative;
  top: -21px;
}

.sobre p {
  margin: 20px auto;
  text-align: center;
  max-width: 460px;
  font-style: italic;
  font-size: 1.125em;
  line-height: 1.4em;
}

@media (min-width: 740px) and (max-width: 980px) {
  .sobre-container {
    max-width: 720px;
  }
  .sobre-item {
    width: 340px;
  }
}

@media (max-width: 739px) {
  .sobre-container {
    max-width: 300px;
  }
  .sobre-item {
    width: 300px;
    margin: 0 auto;
  }
}
/* Produtos */

.produtos {
  background: #e7e4d8;
  width: 100%;
  border-top: 3px #d6d3c8 solid;
  border-bottom: 3px #d6d3c8 solid;
  padding: 60px 0;
}

.produtos-container {
  margin: 0 auto;
  /* Tamanho total do container */
  max-width: 960px;
  /*Não é necessário por o position: relative;
    porque não está sendo usado nenhum
    position: absolute;
  */
  /*   position: relative;
 */
}

.produtos-container::after,
.produtos-container::before {
  content: "";
  display: table;
  clear: both;
}

.produto-item {
  width: 300px;
  float: left;
  margin: 0 10px 20px 10px;
}

.produto-item h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.25em;
  font-weight: bold;
  line-height: 24px;
}

.produto-item h2::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto;
  border: 5px solid#e7e4d8;
  box-shadow: 0 0 0 10px currentColor;
}
h2.produtos-paulista::before {
  color: #492901;
  background: #492901;
}
h2.produtos-carioca::before {
  color: #c17139;
  background: #c17139;
}
h2.produtos-mineiro::before {
  color: #d7a54d;
  background: #d7a54d;
}

.produto-item p {
  font-size: 0.875em;
  line-height: 1.4em;
}

.produtos-btn {
  display: block;
  width: 180px;
  text-align: center;
  border: 3px #252525 solid;
  padding: 15px 0;
  margin: 20px auto 0 auto;
  color: #252525;
  font-weight: bold;
  font-size: 1.125em;
  line-height: 18px;
}

/* Produtos Media Query */
@media (min-width: 740px) and (max-width: 980px) {
  .produtos-container {
    max-width: 720px;
  }

  .produto-item {
    max-width: 220px;
  }
}

@media (max-width: 739px) {
  .produtos-container {
    max-width: 300px;
  }

  .produto-item {
    margin: 0 auto 20px auto;
  }
}

/* Locais */

.locais {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px 0;
}

.locais-item {
  clear: both;
  margin: 60px auto;
}

.locais-item::after,
.locais-item::before {
  content: "";
  display: table;
  /* Especifica se pode ter algum elemento
   flutuando ao lado */
  clear: both;
}
.locais-item img {
  width: 460px;
  display: block;
  margin: 0 10px;
  float: left;
}

.locais-item > div {
  width: 460px;
  margin: 0 10px;
  float: left;
}

.locais-item > div h2 {
  margin-bottom: 20 px;
  font-size: 2.25em;
  font-weight: bold;
}

.locais-item > div p {
  max-width: 320px;
  margin-bottom: 40px;
  line-height: 1.4em;
}

.locais-item > div a {
  display: block;
  width: 150px;
  text-align: center;
  border: 3px solid;
  padding: 15px 0;
  color: #252525;
  font-weight: bold;
  font-size: 1.125em;
  line-height: 18px;
  text-transform: uppercase;
}

/* Locais Media Query */
@media (min-width: 740px) and (max-width: 980px) {
  .locais {
    max-width: 720px;
  }

  .locais-item > div {
    width: 340px;
  }

  .locais-item > div p {
    margin-bottom: 30px;
  }
}

@media (max-width: 739px) {
  .locais {
    max-width: 300px;
  }

  .locais-item > div,
  .locais-item img {
    width: 300px;
    margin: 0;
  }
}

/* Assine */

.assine {
  background: #e7e4d8;
  width: 100%;
  padding: 30px 0;
}
.assine-container {
  margin: 0 auto;
  max-width: 960px;
}

.assine-container::before,
.assine-container::after {
  content: "";
  display: table;
  clear: both;
}

.assine-info {
  width: 460px;
  margin: 0 10px;
  float: left;
}

.assine-info h2 {
  font-weight: bold;
  font-size: 2.25em;
}

.assine-info p {
  font-size: 1.5em;
  font-style: italic;
}

.assine form {
  width: 460px;
  margin: 10px 10px 0 10px;
  float: left;
}

.assine form label {
  display: none;
}

.assine input {
  width: 320px;
  border: 3px solid #252525;
  background: none;
  font-size: 1.5em;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px;
  float: left;
}

.assine button {
  background: #252525;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 1.5em;
  width: 140px;
  padding: 13px 0;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

/* assine Media Query */
@media (min-width: 740px) and (max-width: 980px) {
  .assine-container {
    max-width: 720px;
  }
  .assine-info,
  .assine form,
  .assine input {
    width: 340px;
  }
}

@media (max-width: 739px) {
  .assine-container {
    max-width: 300px;
  }

  .assine-info,
  .assine form,
  .assine input {
    width: 300px;
    margin: 10px 0;
  }
}
/* footer */

.footer {
  background: #d6d3c8;
  width: 100%;
  padding: 40px 0;
}

.footer-container {
  width: 720px;
  margin: 0 auto;
}

.footer-container::after,
.footer-container::before {
  content: "";
  display: table;
  clear: both;
}

.footer p {
  float: left;
  margin: 0 10px;
  font-size: 1.125em;
}

.footer img {
  float: right;
  margin: 0 10px;
  display: block;
}

/* footer Media Query */

@media (max-width: 739px) {
  .footer-container {
    max-width: 300px;
  }
  .footer p {
    text-align: center;
    margin-bottom: 30px;
    float: none;
  }

  .footer img {
    float: none;
    margin: 0 auto;
  }
}
