div {
  width: 400px;
  margin: 40px auto;
  background: #eeeeee;
  padding: 10px;
  border-radius: 5px;
}

p {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  text-transform: lowercase;
  text-indent: 40px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
