header {
  width: 800px;
  height: 60px;
  padding: 20px 0px;
  background: #6b35b3;
  margin-bottom: 20px;
}

h1,
p {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

footer {
  width: 800px;
  height: 60px;
  padding: 20px 0;
  background: #ff3345;
  clear: both;
}

article {
  width: 580px;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
  float: left;
  position: relative;
}
aside {
  width: 200px;
  height: 300px;
  margin-left: 20px;
  background: #ccc;
  float: left;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.conteudo {
  width: 800px;
  margin-bottom: 20px;
  overflow: auto;
  position: relative;
}

li {
  display: inline-block;
}
