.interna-portfolio {
  background: url(../img/bg-portfolio.jpg) no-repeat center;
  width: 100%;
  background-size: cover;
}

.quote-clientes {
  padding: 60px 0;
  max-width: 460px;
  margin: 0 auto;
}

.quote-clientes p {
  text-align: center;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  line-height: 25px;
  margin-bottom: 20px;
}

.quote-clientes cite {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  text-align: right;
  font-style: normal;
  float: right;
}
