.interna-produtos {
  background: url(../img/bg-produtos.jpg) no-repeat center top;
  background-size: cover;
}

.produto-item {
  padding-top: 60px;
}

.produto-item h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  top: -170px;
  text-align: center;
  margin-bottom: -23px;
}

.produto-item h2::after,
h2::before {
  content: "";
  background: #ffffff;
  display: block;
  width: 60px;
  height: 3px;
  margin: 0 auto;
}

.produto-icone {
  background: #000;
  padding: 70px 0;
}
.produto-icone img {
  margin: 0 auto;
}

.produto-info {
  background: #000;
  height: 280px;
}

.produto-info p {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 25px;
  color: #ffffff;
  padding: 30px;
}

.produto-info ul {
  margin-top: 20px;
}

.produto-info ul li {
  background: #fec63e;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 20px;
  float: left;
  width: 229px;
  height: 49px;
  text-align: center;
  padding-top: 16px;
}

.produto-info ul li:nth-child(even) {
  margin-left: 2px;
}

.produto-info ul li:nth-child(1),
.produto-info ul li:nth-child(2) {
  margin-bottom: 2px;
}
