/* Resposividade */

/* Estilo para tablets */
@media only screen and (min-width: 788px) and (max-width: 979px) {
  /* Qualidade Home */
  .qualidade::after {
    right: 66px;
  }
  .qualidade-lista li {
    padding: 0 10px;
  }

  /* Produtos */

  .produto-item h2 {
    top: -140px;
  }
  .produto-icone {
    padding: 41px 0;
  }

  .produto-info p {
    font-size: 14px;
    line-height: 20px;
    padding: 20px;
    height: auto;
  }

  .produto-info ul {
    margin-top: 0;
  }

  .produto-info ul li {
    background: #fec63e;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 20px;
    float: left;
    width: 181px;
    height: 49px;
    text-align: center;
    padding-top: 16px;
  }

  /* Footer */

  .footer-redes ul li a {
    display: block;
    border: 3px solid #fec63e;
    padding: 5px;
  }
  .footer-redes ul li a img {
    width: 26px;
    height: 26px;
  }
}
/* Estilo para smartphones */
@media only screen and (max-width: 787px) {
  /* Header */
  .header {
    position: relative;
    padding-bottom: 0;
  }
  .header a img {
    margin: 0 auto;
  }

  .header-menu {
    text-align: center;
  }

  .header-menu ul li {
    margin-left: 5px;
  }

  .header-menu ul li a {
    text-align: center;
    border: 4px solid #000000;
    width: 140px;
    display: block;
    float: left;
  }

  .header-menu ul li a:hover {
    border-color: #ffffff;
  }

  .header-menu ul li a.menu-ativo {
    border-color: #fff;
  }

  /* Introdução */
  .introducao {
    margin-top: 0;
    background: url(../img/bg-mobile.jpg) no-repeat;
  }
  .introducao h1 {
    padding-top: 50px;
    font-size: 36px;
  }

  /* Introducao interna  */
  .introducao-interna {
    margin-top: 0px;
  }
  /* Subtitulo */
  .subtitulo-interno {
    line-height: 25px;
  }

  /* Missão Sobre */
  .missao-sobre p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 0px;
  }
  .missao-sobre ul li {
    font-size: 14px;
    line-height: 20px;
  }

  /* Produtos */
  .produtos-lista p {
    padding-bottom: 6px;
  }

  .produto-item h2 {
    top: -90px;
    margin-bottom: -38px;
  }

  .produto-item p {
    font-size: 14px;
  }

  .produto-info ul {
    margin-top: 0;
  }

  .produto-info ul li {
    font-size: 14px;
    line-height: 20px;
    width: 149px;
  }

  /* Formulário */

  .form {
    padding-right: 0px;
  }

  .orcamento-dados ul {
    padding-right: 0px;
  }

  .contato-form {
    padding-right: 0px;
    margin-bottom: 40px;
  }

  /* Call */
  .call {
    padding-top: 10px;
  }
  /* Qualidade sobre */

  .qualidade::after {
    display: none;
  }
}
