.interna-sobre {
  background: url(../img/bg-sobre.jpg) no-repeat center top;
  /*   background-size só funciona local, não global */
  background-size: cover;
}

.missao-sobre {
  padding-top: 60px;
}

.missao-sobre p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  margin-bottom: 1em;
  padding-right: 60px;
}

.missao-sobre ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.foto-equipe {
  padding-top: 20px;
}
