/* Estilos Gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
}

.btn {
  border: 3px solid #fec63e;
  padding: 10px 30px;
  width: 160px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fec63e;
}

.btn:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.btn.btn-preto:hover {
  border-color: #000000;
  color: #000;
}

.subtitulo {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 00.1em;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.subtitulo::after {
  content: "";
  display: block;
  margin: 8px auto;
  width: 60px;
  height: 3px;
  background: #000000;
  margin-bottom: 40px;
}

img {
  display: block;
}

/* Header */
.header {
  /* Faz com que o header não fique scrollando na tela. */
  position: fixed;
  top: 0;
  /* Faz com que o header ultrapasse o tamanho do grid */
  width: 100%;
  background: #fec63e;
  /* Deixa os elementos centralizados */
  padding: 15px 0px;
  /* Utilizado para dizer qual elemento deve ficar por cima.*/
  z-index: 10;
}

.header-menu {
  text-align: right;
}
.header-menu ul li {
  text-align: right;
  /* Faz com elementos não pulem linha,  mas aceitem box-model */
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}
.header-menu ul li a {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  /* Espaçamento entre letras */
  letter-spacing: 0.1em;
  /* Espaçamento entre linhas */
  line-height: 20px;
  /* Aumenta a área de contato, ajuda o user mobile */
  padding: 10px 0px;
}

.header-menu ul li a:hover {
  color: #ffffff;
}

.header-menu ul li a.menu-ativo {
  color: #fff;
}

/* Introdução */

.introducao {
  /* Para que a introduçao pegue toda a tela em largura*/
  width: 100%;
  /* 
  no-repeat: serve para a img, não se repetir;
  center: diz de onde a img tem que começar ou priorizar
  */
  background: url(../img/bg.jpg) no-repeat center top;
  /* cover: serve para a img cubra todo o espaço */
  background-size: cover;
  /* 
  margin para retirar o bg de trás do header.
  Isso acontece porque o header tem o position:fixed
  que faz todos os conteúdos ficarem fixados nele
  o margin tem que ser da altura do header
  */
  margin-top: 92px;
  height: 380px;
  /* Alinha o texto ao centro */
  text-align: center;
}

.introducao h1 {
  font-size: 48px;
  color: #ffffff;
  font-weight: bold;
  /* Faz todas as letras ficarem em caps lock */
  text-transform: uppercase;
  /* Põem um espaçamento entre um texto e outro */
  /* line-height: 60px; */
  padding-top: 78px;
}

.quote-externo {
  /* Faz o elemento não ultrapassar x valor de largura*/
  max-width: 277px;
  /* Faz o elemento ir ao centro */
  margin: 0 auto;
  color: #ffffff;
  margin-bottom: 40px;
}

.quote-externo p {
  font-style: italic;
}

/*
 pseudo classe before e after,
 adicionam elementos na tela.
 criam elementos inline
*/
.quote-externo p::before,
.quote-externo p::after {
  /* È necessário por o content mesmo senão for utilizalo*/
  content: "";
  display: block;
  margin: 14px auto 12px auto;
  width: 60px;
  height: 3px;
  background: #ffffff;
}

.quote-externo cite {
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  /* 
  Põem um espaçamento
  entre a letras
  obs: Não aceita px com muita facilidade   
  */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 20px;
}

/* Introdução Interna */

.introducao-interna {
  margin-top: 92px;
  height: 160px;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 44px;
}

.introducao-interna h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
}

.introducao-interna h1::after {
  content: "";
  display: block;
  margin: 2px auto;
  width: 60px;
  height: 3px;
  background: #ffffff;
}

.introducao-interna p {
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 25px;
}

.subtitulo-interno {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 00.1em;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitulo-interno::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000000;
  margin: 8px 0;
}

/* Produtos */

.produtos {
  padding: 60px 0;
}

.produtos-lista li {
  background: #fec63e;
  text-align: center;
}

.produtos-icone {
  background: #000000;
}

.produtos-icone img {
  /* Faz a img ficar no */
  margin: 0 auto;
  padding: 30px;
}

.produtos-lista li h3 {
  margin-top: 18px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 00.1em;
  line-height: 25px;
  text-transform: uppercase;
}

.produtos-lista li h3::after {
  content: "";
  display: block;
  margin: 2px auto;
  width: 60px;
  height: 3px;
  background: #000000;
}

.produtos-lista li p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: normal;
  margin: 9px 6px;
}

.call {
  padding-top: 40px;
  text-align: center;
  clear: both;
}

.call p {
  margin-bottom: 25px;
}

/* Porfólio */

.portfolio {
  width: 100%;
  background: #000000;
  padding: 40px 0;
}

.portfolio .subtitulo {
  color: #fec63e;
}

.portfolio .subtitulo::after {
  background: #fec63e;
}

/*
 Pseduo classe :last-child
 Serve para selecionar o ultimo elemento

 Pseduo classe :first-child
 Faz o inverso da :last-child
*/
.portfolio-lista li:last-child {
  margin-top: 20px;
}

.portfolio .call p {
  color: #ffffff;
}

/* Qualidade */

.qualidade {
  padding: 60px 0 60px;
}

.qualidade::after {
  content: "";
  /* Todo elemento :after vem inline */
  display: block;
  height: 83px;
  width: 634px;
  background: url(../img/linhas.svg) no-repeat center;
  z-index: -1;
  /*
   O absolute só funcionou porque
   o container está com position relative
   que força o absolute usar ele como "mestre"
  */
  position: absolute;
  top: 208px;
  right: 162px;
}

.qualidade img {
  margin: 0 auto;
}

.qualidade-lista {
  padding-top: 20px;
  overflow: auto;
}

.qualidade-lista li {
  text-align: center;
  padding: 0 40px;
}
.qualidade-lista li h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 00.1em;
  line-height: 20px;
  margin-top: 20px;
}

.qualidade-lista li h3::after {
  content: "";
  display: block;
  margin: 2px auto;
  width: 60px;
  height: 3px;
  background: #000000;
  margin: 4px auto;
}
/* Quebra */

.quebra {
  background: url(../img/bg-footer.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 220px;
  text-align: center;
  padding-top: 40px;
}

.quebra .quote-externo {
  max-width: 400px;
}

/* Footer */

.footer {
  background: #000;
  width: 100%;
  height: 150px;
  color: #ffffff;
  padding: 20px 0;
}

.footer h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #fec63e;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.footer h3::after {
  margin: 5px 0 12px 0px;
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
}

.footer-historia {
  padding-right: 40px;
}

.footer-contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer-redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-redes ul li a {
  display: block;
  border: 3px solid #fec63e;
  padding: 10px;
}

.footer-redes ul li a:hover {
  border-color: #ffffff;
}

/* copy */

.copy {
  width: 100%;
  background: #fec63e;
}

.copy p {
  padding: 20px 0 20px 0;
  font-size: 14px;
  line-height: 20px;
}
