html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  font-size: 1em;
  font-weight: 400;
}
*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.container:after,
.container:before {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-1-3 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.grid-1 {
  width: 40px;
}
.grid-2 {
  width: 100px;
}
.grid-3 {
  width: 160px;
}
.grid-4 {
  width: 220px;
}
.grid-5 {
  width: 280px;
}
.grid-6 {
  width: 340px;
}
.grid-7 {
  width: 400px;
}
.grid-8 {
  width: 460px;
}
.grid-9 {
  width: 520px;
}
.grid-10 {
  width: 580px;
}
.grid-11 {
  width: 640px;
}
.grid-12 {
  width: 700px;
}
.grid-13 {
  width: 760px;
}
.grid-14 {
  width: 820px;
}
.grid-15 {
  width: 880px;
}
.grid-16 {
  width: 940px;
}
.grid-1-3 {
  width: 300px;
}
@media only screen and (min-width: 788px) and (max-width: 979px) {
  .container {
    width: 768px;
  }
  .grid-1 {
    width: 28px;
  }
  .grid-2 {
    width: 76px;
  }
  .grid-3 {
    width: 124px;
  }
  .grid-4 {
    width: 172px;
  }
  .grid-5 {
    width: 220px;
  }
  .grid-6 {
    width: 268px;
  }
  .grid-7 {
    width: 316px;
  }
  .grid-8 {
    width: 364px;
  }
  .grid-9 {
    width: 412px;
  }
  .grid-10 {
    width: 460px;
  }
  .grid-11 {
    width: 508px;
  }
  .grid-12 {
    width: 556px;
  }
  .grid-13 {
    width: 604px;
  }
  .grid-14 {
    width: 652px;
  }
  .grid-15 {
    width: 700px;
  }
  .grid-16 {
    width: 748px;
  }
  .grid-1-3 {
    width: 236px;
  }
}
@media only screen and (max-width: 787px) {
  .container {
    width: 300px;
  }
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12,
  .grid-13,
  .grid-14,
  .grid-15,
  .grid-16,
  .grid-1-3 {
    width: 300px;
    margin: 0 0 20px;
    float: none;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
}
.btn {
  border: 3px solid #fec63e;
  padding: 10px 30px;
  width: 160px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fec63e;
}
.btn:hover {
  color: #fff;
  border-color: #fff;
}
.btn.btn-preto:hover {
  border-color: #000;
  color: #000;
}
.subtitulo {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
.subtitulo::after {
  content: "";
  display: block;
  margin: 8px auto;
  width: 60px;
  height: 3px;
  background: #000;
  margin-bottom: 40px;
}
img {
  display: block;
  max-width: 100%;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fec63e;
  padding: 15px 0;
  z-index: 10;
}
.header-menu {
  text-align: right;
}
.header-menu ul li {
  text-align: right;
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}
.header-menu ul li a {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 20px;
  padding: 10px 0;
}
.header-menu ul li a:hover {
  color: #fff;
}
.header-menu ul li a.menu-ativo {
  color: #fff;
}
.introducao {
  width: 100%;
  background: url(../img/bg.jpg) no-repeat center top;
  background-size: cover;
  margin-top: 92px;
  height: 380px;
  text-align: center;
}
.introducao h1 {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 80px;
}
.quote-externo {
  max-width: 277px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 40px;
}
.quote-externo p {
  font-style: italic;
}
.quote-externo p::before,
.quote-externo p::after {
  content: "";
  display: block;
  margin: 14px auto 12px;
  width: 60px;
  height: 3px;
  background: #fff;
}
.quote-externo cite {
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 20px;
}
.introducao-interna {
  margin-top: 92px;
  height: 160px;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 44px;
}
.introducao-interna h1 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;
}
.introducao-interna h1::after {
  content: "";
  display: block;
  margin: 2px auto;
  width: 60px;
  height: 3px;
  background: #fff;
}
.introducao-interna p {
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 25px;
}
.subtitulo-interno {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subtitulo-interno::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px 0;
}
.produtos {
  padding: 60px 0;
}
.produtos-lista li {
  background: #fec63e;
  text-align: center;
}
.produtos-icone {
  background: #000;
}
.produtos-icone img {
  margin: 0 auto;
  padding: 30px;
}
.produtos-lista li h3 {
  margin-top: 18px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 25px;
  text-transform: uppercase;
}
.produtos-lista li h3::after {
  content: "";
  display: block;
  margin: 2px auto;
  width: 60px;
  height: 3px;
  background: #000;
}
.produtos-lista li p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: 400;
  margin: 9px 6px;
}
.call {
  padding-top: 40px;
  text-align: center;
  clear: both;
}
.call p {
  margin-bottom: 25px;
}
.portfolio {
  width: 100%;
  background: #000;
  padding: 40px 0;
}
.portfolio .subtitulo {
  color: #fec63e;
}
.portfolio .subtitulo::after {
  background: #fec63e;
}
.portfolio-lista li:last-child {
  margin-top: 20px;
}
.portfolio .call p {
  color: #fff;
}
.qualidade {
  padding: 60px 0;
}
.qualidade::after {
  content: "";
  display: block;
  height: 83px;
  width: 634px;
  background: url(../img/linhas.svg) no-repeat center;
  z-index: -1;
  position: absolute;
  top: 208px;
  right: 162px;
}
.qualidade img {
  margin: 0 auto;
}
.qualidade-lista {
  padding-top: 20px;
  overflow: auto;
}
.qualidade-lista li {
  text-align: center;
  padding: 0 40px;
}
.qualidade-lista li h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 20px;
  margin-top: 20px;
}
.qualidade-lista li h3::after {
  content: "";
  display: block;
  margin: 2px auto;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 4px auto;
}
.quebra {
  background: url(../img/bg-footer.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 220px;
  text-align: center;
  padding-top: 40px;
}
.quebra .quote-externo {
  max-width: 400px;
}
.footer {
  background: #000;
  width: 100%;
  color: #fff;
  padding: 20px 0;
}
.footer h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #fec63e;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.footer h3::after {
  margin: 5px 0 12px;
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
}
.footer-historia {
  padding-right: 40px;
}
.footer-contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.footer-contato ul li a {
  color: #fff;
}
.footer-redes ul li {
  display: inline-block;
  margin-right: 10px;
}
.footer-redes ul li a {
  display: block;
  border: 3px solid #fec63e;
  padding: 10px;
}
.footer-redes ul li a:hover {
  border-color: #fff;
}
.copy {
  width: 100%;
  background: #fec63e;
}
.copy p {
  padding: 20px 0;
  font-size: 14px;
  line-height: 20px;
}
.orcamento .nao-aparece {
  display: none;
}
.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0;
  opacity: 0;
  pointer-events: none;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 0.5s;
  z-index: 1;
  pointer-events: auto;
}
.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: 20px;
}
.js [data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: none;
  padding: 0;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  outline: none;
  background: #1d1d1d;
}
.js [data-slide-nav] button.active {
  background: #fec63e;
}
.js [data-anime] {
  opacity: 0;
}
.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}
#form-erro {
  color: #f64540;
}
#form-sucesso {
  color: #31aa39;
}
.interna-sobre {
  background: url(../img/bg-sobre.jpg) no-repeat center top;
  background-size: cover;
}
.missao-sobre {
  padding-top: 60px;
}
.missao-sobre p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  margin-bottom: 1em;
  padding-right: 60px;
}
.missao-sobre ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.foto-equipe {
  padding-top: 20px;
}
.interna-produtos {
  background: url(../img/bg-produtos.jpg) no-repeat center top;
  background-size: cover;
}
.produto-item {
  padding-top: 60px;
}
.produto-item h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  top: -170px;
  text-align: center;
  margin-bottom: -23px;
}
.produto-item .produto-titulo::after,
.produto-titulo::before {
  content: "";
  background: #fff;
  display: block;
  width: 60px;
  height: 3px;
  margin: 0 auto;
}
.produto-icone {
  background: #000;
  padding: 70px 0;
}
.produto-icone img {
  margin: 0 auto;
}
.produto-info {
  background: #000;
}
.produto-info p {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 25px;
  color: #fff;
  padding: 30px;
}
.produto-info ul {
  margin-top: 20px;
}
.produto-info ul li {
  background: #fec63e;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 20px;
  float: left;
  width: 229px;
  height: 49px;
  text-align: center;
  padding-top: 16px;
}
.produto-info ul li:nth-child(even) {
  margin-left: 2px;
}
.produto-info ul li:nth-child(1),
.produto-info ul li:nth-child(2) {
  margin-bottom: 2px;
}
.orcamento {
  background: #000;
  width: 100%;
  margin-top: 60px;
  padding-bottom: 50px;
}
.orcamento .subtitulo {
  padding-top: 30px;
  color: #fec63e;
}
.orcamento .subtitulo::after {
  content: "";
  display: block;
  background: #fec63e;
  width: 60px;
  height: 3px;
  margin: 0 auto;
  margin-bottom: 28px;
}
.form {
  padding-right: 60px;
}
.form label {
  margin-bottom: 4px;
  display: block;
  color: #ffff;
  font-weight: 700;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 25px;
}
.form input {
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: #fec63e solid 4px;
  margin-bottom: 10px;
  width: 100%;
  background: none;
  padding: 7px 10px;
  color: #fff;
  outline: none;
}
.form textarea {
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: #fec63e solid 4px;
  margin-bottom: 10px;
  width: 100%;
  height: 120px;
  background: none;
  padding: 7px 10px;
  color: #fff;
  outline: none;
}
.form button {
  width: 160px;
  padding: 10px;
  background: none;
}
button:hover {
  border-color: #fff;
}
.orcamento-dados {
  color: #fff;
}
.orcamento-dados h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fec63e;
  margin-bottom: 9px;
}
.orcamento-dados span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.orcamento-dados span a {
  color: #ffff;
}
.orcamento-dados .dados-email {
  margin-bottom: 20px;
}
.contato-dados span:nth-of-type(2) {
  margin-bottom: 45px;
}
.orcamento-dados p {
  font-size: 18px;
  line-height: 25px;
  margin: 8px 0;
}
.orcamento-dados ul li {
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 25px;
  padding: 10px 15px;
}
.orcamento-dados ul {
  padding-right: 60px;
}
.orcamento-dados ul li:nth-last-child(odd) {
  background: #1d1d1d;
}
.interna-portfolio {
  background: url(../img/bg-portfolio.jpg) no-repeat center;
  width: 100%;
  background-size: cover;
}
.quote-clientes {
  padding: 60px 0;
  max-width: 460px;
  margin: 0 auto;
}
.quote-clientes p {
  text-align: center;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  line-height: 25px;
  margin-bottom: 20px;
}
.quote-clientes cite {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: right;
  font-style: normal;
  float: right;
}
.interna-contato {
  background: url(../img/bg-contato.jpg) no-repeat center;
  width: 100%;
  background-size: cover;
}
.contato {
  padding: 40px 0;
}
.contato-form {
  padding-right: 60px;
}
.contato-form label {
  margin-bottom: 4px;
  display: block;
  font-weight: 700;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 25px;
}
.contato-form input {
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: #fec63e solid 4px;
  margin-bottom: 10px;
  width: 100%;
  background: none;
  padding: 7px 10px;
  outline: none;
}
.contato-form .nao-aparece {
  display: none;
}
.contato-form textarea {
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: #fec63e solid 4px;
  margin-bottom: 10px;
  width: 100%;
  height: 120px;
  background: none;
  padding: 7px 10px;
  outline: none;
}
.contato-form button {
  width: 160px;
  padding: 10px;
  background: none;
}
.contato-form button:hover {
  border-color: #000;
  color: #000;
}
.contato-dados h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fec63e;
  margin-bottom: 9px;
}
.contato-dados span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contato-dados span a {
  color: #000;
}
.contato-dados span:nth-of-type(4) {
  margin-bottom: 20px;
}
.contato-dados p {
  font-size: 18px;
  line-height: 25px;
  margin: 8px 0;
}
.contato-dados ul {
  margin-top: 10px;
}
.contato-dados ul li {
  display: inline-block;
  margin-right: 10px;
}
.contato-dados ul li a {
  display: block;
  border: 3px solid #fec63e;
  padding: 10px;
}
.contato-dados ul li a:hover {
  border-color: #000;
}
.contato-mapa {
  margin-bottom: 60px;
}
@media only screen and (min-width: 788px) and (max-width: 979px) {
  .qualidade::after {
    right: 66px;
  }
  .qualidade-lista li {
    padding: 0 10px;
  }
  .produto-item h2 {
    top: -140px;
  }
  .produto-icone {
    padding: 41px 0;
  }
  .produto-info p {
    font-size: 14px;
    line-height: 20px;
    padding: 20px;
    height: auto;
  }
  .produto-info ul {
    margin-top: 0;
  }
  .produto-info ul li {
    background: #fec63e;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 20px;
    float: left;
    width: 181px;
    height: 49px;
    text-align: center;
    padding-top: 16px;
  }
  .footer-redes ul li a {
    display: block;
    border: 3px solid #fec63e;
    padding: 5px;
  }
  .footer-redes ul li a img {
    width: 26px;
    height: 26px;
  }
}
@media only screen and (max-width: 787px) {
  .header {
    position: relative;
    padding-bottom: 0;
  }
  .header a img {
    margin: 0 auto;
  }
  .header-menu {
    text-align: center;
  }
  .header-menu ul li {
    margin-left: 5px;
  }
  .header-menu ul li a {
    text-align: center;
    border: 4px solid #000;
    width: 140px;
    display: block;
    float: left;
  }
  .header-menu ul li a:hover {
    border-color: #fff;
  }
  .header-menu ul li a.menu-ativo {
    border-color: #fff;
  }
  .introducao {
    margin-top: 0;
    background: url(../img/bg-mobile.jpg) no-repeat;
  }
  .introducao h1 {
    padding-top: 50px;
    font-size: 36px;
  }
  .introducao-interna {
    margin-top: 0;
  }
  .subtitulo-interno {
    line-height: 25px;
  }
  .missao-sobre p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 0;
  }
  .missao-sobre ul li {
    font-size: 14px;
    line-height: 20px;
  }
  .produtos-lista p {
    padding-bottom: 6px;
  }
  .produto-item h2 {
    top: -90px;
    margin-bottom: -38px;
  }
  .produto-item p {
    font-size: 14px;
  }
  .produto-info ul {
    margin-top: 0;
  }
  .produto-info ul li {
    font-size: 14px;
    line-height: 20px;
    width: 149px;
  }
  .form {
    padding-right: 0;
  }
  .orcamento-dados ul {
    padding-right: 0;
  }
  .contato-form {
    padding-right: 0;
    margin-bottom: 40px;
  }
  .call {
    padding-top: 10px;
  }
  .qualidade::after {
    display: none;
  }
}
