p {
  color: #222;
  font-size: 16px;
}

div {
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
  background: #bbbbbb;
}
div a,
p {
  color: green;
}

* {
  text-transform: uppercase;
}

.btn-comprar {
  color: black;
}

#principal {
  width: 100px;
}

a:hover {
  font-size: 20px;
  color: red;
}
